*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
:root{
    --title-color: #4e4e4e;
    --general-color: #191911;
    --general-line-h: 1.2;
}
body
{
    background-color: aliceblue;
}
article
{
    display: grid;
    row-gap: 0;
    grid-template-areas: "header header header"
    "nav section section"
    "nav section section"
    "footer footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
}
header
{
    display: flex;
    align-items: center;
    padding: max(.7rem, 1%);
    justify-content: space-between;
    background-color: rgb(65, 65, 66);
    grid-template-columns: repeat(3, 1fr);

    grid-area: header;
}
header img
{
    height: 10vh;
    transition: 300ms ease-in-out;
}
header img:hover
{
    cursor: pointer;
    border-radius: 14%;
}
header h1
{
    text-align: center;
    color: aliceblue;
    text-transform: capitalize;
    line-height: 1.4;
    /* line-height: var(--general-line-h); */
    font-size: clamp(.7rem, 3vw, 1.8rem);
    font-family: "@Arial", "Unicode MS", sans-serif;
}
header h1 span
{
    display: block;
    color: rgb(209, 209, 210);
    font-size: clamp(.4rem, 3vw, .8rem);
    font-family: "@Arial", "Unicode MS", sans-serif;
}
.logout
{
    color: white;
    border: 3px solid rgb(255, 241, 241);
    text-decoration: none;
    border-radius: 50%;
    padding: 3px .3rem;
}
/* ENDING HEADER STYLE  */
nav 
{
    width: 250px;
   grid-area: nav;
   color: aliceblue;
   text-transform: capitalize;
   background-color: #101010;
   position: relative;
   margin-inline:0 max(1rem, 4%);
   border-radius: 0 .4rem .4rem 0;
   font-family: 'Poppins', sans-serif;
}
#show,
#collapse
{
    display: none;
}
nav .dboard_title
{
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    padding: max(.4rem, 4%);
}
.dboard_title h2
{
    width: 100%;
    display: block;
    margin-inline-start: 0;
    padding-inline-start: 0;
    font-size: clamp(.5rem, 3vw, 1.2rem);
    border-bottom: 2px double aliceblue;
}
nav :is(.profil, .payment, .c_registration, .setting)
{
    display: grid;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    margin-top: max(1rem, 1%);
    grid-template-rows: 0fr;
    transition: all 400ms ease-in-out;
}
nav .profil.active,
nav .payment.active,
nav .c_registration.active,
nav .setting.active
{
    height: 50px;
    /* outline: 2px solid aliceblue; */
}
nav .profil:focus-within,
nav .payment:focus-within,
nav .c_registration:focus-within,
nav .setting:focus-within
{
    height: 50px;
    outline: 2px solid aliceblue;
}
nav :is(.profil a, .payment a, .c_registration a, .setting a)
{
    color: white;
    margin: 5px 15px;
    text-decoration: none;
}
nav :is(.profil a, .payment a, .c_registration a, .setting a):hover
{
    text-decoration: underline;
}
/* ENDING NAVIGATION BAR  */
section
{
    grid-area: section;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: transparent;
    margin-inline: 0 max(1.5rem, 27%);
    padding: max(1rem, 4%);
    gap: max(.5rem, 2%);
    line-height: var(--general-line-h);
    grid-template-columns: repeat(7, 1fr);
}
section .ap-instruction, .g-invoice
{
    line-height: 1;
    text-align: center;
    padding: .5rem;
    border-radius: .4rem;
    width: calc(80% + 0px);
    height: calc(50% + 15px);
    background-color: aliceblue;
    border: 1px solid skyblue;
    text-transform: capitalize;
    filter: drop-shadow(1px 1px 2px rgb(207, 207, 252));
}
section .ap-instruction img, .g-invoice img
{
width: calc(20% + 40px);
}
section a
{
    text-decoration: none;
    color: #101010;
}
section :where(.ap-instruction, .g-invoice):hover,
section :where(.ap-instruction, .g-invoice):focus-within
{
    cursor: pointer;
    background-color: rgb(198, 228, 254);
    border: 1px solid rgb(248, 248, 248);
    filter: drop-shadow(1px 1px 2px rgb(203, 203, 255));
}
/* ENDING SECTION STYLE  */
footer 
{
   grid-area: footer;
   color: aliceblue;
   padding: max(1rem, 4%);
   line-height: var(--general-line-h);
   background-color: rgb(65, 65, 66);
   background-color: #c6c5c7;
}
.contactandfeedback span
{
    color: rgb(24, 35, 35);
    text-transform: uppercase;
}
.contactandfeedback span span
{
    text-transform: capitalize;
}
footer .socialLinks
{
    display: grid;
    gap: max(.4rem, 1%);
    color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}
footer .socialLinks .links .title
{
    font-weight: 900;
    cursor: text;
    display: block;
    /* margin-bottom: max(.4rem, 1%); */
    color:rgb(23, 23, 252);
    text-decoration: none;
    font-size: clamp(.4rem, 3vw, .7rem);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
[even]
{
    width: calc(40% + 5px);
    margin-bottom: max(.4rem, 1%);
    border: 2px dotted rgb(64, 64, 255);
}
[odd]
{
    margin-bottom: max(.4rem, 1%);
    width: calc(73% + 15px);
    border: 2px dotted rgb(64, 64, 255);

}
footer .links .focus-w
{
    display: block;
    text-decoration: none;
    color: rgb(27, 28, 28);
    color: rgb(21, 21, 169);
    font-size: clamp(.4rem, 3vw, .9rem);
    font-family: 'Poppins', sans-serif;
}
footer .links .focus-w:hover
{
    cursor: pointer;
    color: rgb(42, 123, 119);
    text-decoration: underline;
}
footer .links .focus-w:focus-within
{
    color: aliceblue;
    outline: 2px solid rgb(18, 18, 18);
}
footer p
{
    text-align: center;
    margin: 1rem;
}

/* media query function */
@media screen and (max-width: 1122px){
    article
    {
        display: grid;
        row-gap: 0;
        grid-template-areas: "header header header"
        "nav section section"
        "nav section section"
        "footer footer footer";
        grid-template-columns: 1.5fr 4fr;
        grid-template-rows: 1fr 3fr 1fr;
    }   
}
@media screen and (max-width: 800px){
    article
    {
        display: grid;
        row-gap: 0;
        grid-template-areas: "header header header"
        "nav section section"
        "nav section section"
        "footer footer footer";
        grid-template-columns: 2.5fr 4fr;
        grid-template-rows: 1fr 3fr 1fr;
    }   
    nav
    {
        width: 50px;
        transition: 300ms ease-in-out;
    }
    nav .pos
    {
        width: 250px;
        position: absolute;
        left: -400px;
        top: 0;
        color: white;
        transition: 500ms ease-in-out;
    }
    .dboard_title
    {
        width: 200px;
    }
    #show,
    #collapse
    {
        display: block;
    }
    #show
    {
        border: none;
        padding: .2rem;
        cursor: pointer;
        width: calc(30px - 0px);
        height: calc(30px - 0px);
        background-color: aliceblue;
        clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    }
    #show:hover
    {
        cursor: pointer;
        background-color: wheat;
    }
    #collapse
    {
        border: none;
        padding: .2rem;
        float: right;
        width: calc(30px - 0px);
        height: calc(30px - 0px);
        background-color: red;
        clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    }
    #collapse:hover
    {
        cursor: pointer;
        background-color: darkred;
    }
    /* ENDING NAVIGATION BAR  */
section
{
    grid-area: section;

    align-items: center;
    justify-content: center;
}
section .ap-instruction, .g-invoice
{
    width: calc(80% + 15px);
    height: calc(50% + 15px);
}
figcaption
{
    font-size: clamp(.8rem, 3vw, 1rem);
}

}
