*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
:root{
    --title-color: #4e4e4e;
    --general-color: #191911;
    --general-line-h: 1.2;
    --btn-color: whitesmoke;
}
body
{
    height: 100vh;
    background-color: aliceblue;
}
article
{
    display: grid;
    row-gap: max(1rem, 2%);
    grid-template-areas: "header header header"
    "section section section"
    "footer footer footer";
}
header
{
    display: flex;
    align-items: center;
    padding: max(.7rem, 1%);
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(65, 65, 66);
    background-color: #8f8e90;

    grid-area: header;
}
header img
{
    height: 10vh;
    transition: 300ms ease-in-out;
}
header img:hover
{
    cursor: pointer;
    border-radius: 14%;
}
header h1
{
    text-align: center;
    color: aliceblue;
    text-transform: capitalize;
    line-height: var(--general-line-h);
    font-size: clamp(.7rem, 3vw, 1.8rem);
    font-family: "@Arial", "Unicode MS", sans-serif;
}
header h1 span
{
    display: block;
    color: rgb(209, 209, 210);
    text-transform: capitalize;
    font-size: clamp(.4rem, 3vw, .6rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ENDING HEADER STYLE  */
section
{
    grid-area: section;
    background-color: #fff;
    margin: max(.5rem, 2%);
    padding: max(1rem, 4%);
}
section h4
{
    text-align: center;
    padding: max(.4rem, 1%) ;
    font-size: clamp(1rem, calc(7vw + 1rem), 1.3rem);
}
/* form styling  */
.form_wrapping
{
    margin: auto;
    width: 400px;
}
.form_wrapping .form_id 
{
    padding: 1rem;
    border-top: none;
    position: relative;
    border-radius: .4rem;
    width: calc(390px - 5px);
    transition: .3s ease-in-out;
    background-color: #fff;
}
.slide_form form
{
    display: flex;
    overflow-x: hidden;
    position: relative;   
    border: 3px solid rgb(243, 243, 246);
}
form .step 
{
    background-color: lime;
    position: absolute;
    top: 0;
    width: 10%;
    height: 5px;
    z-index: 1;
     transition: 400ms ease-in-out;
}
.form_one .form_id
{
    left: 0px;
}
.form_two .form_id
{
    left: 450px;
}
.form_id label
{
    color: var(--text-color);
    font-size: var(--text-f-input);
    text-transform: capitalize;
    font-family: calibri, sans-serif;
}
select, input[type="date"]
{
    cursor: pointer;
    background-color: aliceblue;
}
.form_id input, select
{
    width: 100%;
    resize: none;
    text-indent: 5px;
    overflow-y: hidden;
    border-radius: .2rem;
    padding: max(.3rem, 1%);
    color: var(--text-color);
    text-transform: capitalize;
    font-size: var(--text-f-input);
    margin-bottom: max(.4rem, 1%);
    font-family: calibri, sans-serif;
    border: 2px solid rgb(237, 235, 235);
}
.form_id input:focus, select:focus
{
    outline: 2px solid steelblue;
}
.child_input_box
{
    display: flex;
    gap: max(.3rem, 1%);
}
.child_y_e
{
    flex-basis: 30%;
}
.child_e_g
{
    flex-basis: 70%;
}
.btn-order {
    margin-top: max(.3rem, 1%);
    text-transform: capitalize!important;
}
.btn-order :is(.next, .submit){
    border: none;
    border-radius: .3rem;
    color: var(--btn-color);
    font-size: var(--text-f-input);
    filter: drop-shadow(1px 1px 0px); 
    padding: max(.6rem, 1%) max(.4rem, 5%);
    background-color: hsl(120, 100%, 50%);   
}
.btn-order :where(.next,.submit):hover{
    cursor: pointer;
    color: hsl(39, 77%, 83%);
    background-color: hsl(120, 61%, 50%); 
}
.Previous{
    border: none;
    color: aliceblue;
    border-radius: .3rem;
    font-size: var(--text-f-input);
    filter: drop-shadow(1px 1px 0px); 
    background-color: rgb(77,88,99);
    padding: max(.6rem, 1%) max(.4rem, 5%);   
}
:is(.Previous):hover{
    cursor: pointer;
    color: hsl(39, 77%, 83%);
    background-color: rgb(31, 32, 33);  
}

/* ENDING SECTION FORM REGISTRATION */
footer 
{
   grid-area: footer;
   color: aliceblue;
   padding: max(1rem, 4%);
   line-height: var(--general-line-h);
   background-color: rgb(65, 65, 66);
   background-color: #c6c5c7;
}
.contactandfeedback span
{
    color: rgb(24, 35, 35);
    text-transform: uppercase;
}
.contactandfeedback span span
{
    text-transform: capitalize;
}
footer .socialLinks
{
    display: grid;
    gap: max(.4rem, 1%);
    color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}
footer .socialLinks .links .title
{
    font-weight: 900;
    cursor: text;
    display: block;
    margin-bottom: max(.4rem, 1%);
    color:rgb(23, 23, 252);
    text-decoration: none;
    font-size: clamp(.4rem, 3vw, .7rem);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
[even]
{
    width: calc(40% + 5px);
    margin-bottom: max(.4rem, 1%);
    border: 2px dotted rgb(64, 64, 255);
}
[odd]
{
    margin-bottom: max(.4rem, 1%);
    width: calc(73% + 15px);
    border: 2px dotted rgb(64, 64, 255);

}
footer .links .focus-w
{
    display: block;
    text-decoration: none;
    color: rgb(27, 28, 28);
    color: rgb(21, 21, 169);
    font-size: clamp(.4rem, 3vw, .9rem);
    font-family: 'Poppins', sans-serif;
}
footer .links .focus-w:hover
{
    cursor: pointer;
    color: rgb(42, 123, 119);
    text-decoration: underline;
}
footer .links .focus-w:focus-within
{
    color: aliceblue;
    outline: 2px solid rgb(18, 18, 18);
}
footer p
{
    text-align: center;
    margin: 1rem;
}